<configuration>
    <appender name="Sentry" class="net.kencochrane.raven.logback.SentryAppender">
        <dsn>
            https://8d81c854ff5c4aad9a34e3bc171285b1:30716665064d42b19e4069cf901597d0@sentry.tind.io/18
        </dsn>
    </appender>

    <root level="error">
        <appender-ref ref="Sentry"/>
    </root>
</configuration>